*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 800px;
    margin: auto;
    font-family: 'Nerko One', cursive;
    background-color: lightskyblue;
}

header{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    text-shadow: grey 1px 1px;
}

.container{
    width: 100%;
    margin-top: 40px;
}

.top_row{
    height: 220px;
    margin-bottom: 30px;
}

.mid_row{
    height: 220px;
    margin-bottom: 30px;
}

.bot_row{
    height: 220px;
    position: relative;
}

.card{
    height: 220px;
    width: 180px;
    background-image: url(../img/pattern.png);
    background-size: 90%;
    background-repeat: repeat;
    border-radius: 10px;
    float: left;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 2px 2px rgb(202, 202, 202);
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 1px 1px lightgray;
    position: relative;
}

.card:hover{
    background-color: white;
    cursor: pointer;
}

.shown_card{
    height: 220px;
    width: 180px;
    background-color: white;
    border-radius: 10px;
    float: left;
    margin: 0 10px;
    box-shadow: 2px 2px rgb(202, 202, 202);
    padding: 20px;
    text-align: center;
}


.shown_card h3{
    color: orchid;
    text-shadow: 1px 1px lightgray;
    font-size: 2rem;
}
.hidden{
    opacity: 0;
}

.card:hover{
    background-image: none;
}

.card:hover .hidden{
    background-color: white;
    opacity: 1;
}
.tractor, .bike, .ship, .baloon, .submarine, .tram{
    width: 150px;
}

.tractor_text{
    color: orange;
    text-shadow: 1px 1px lightgray;
}

.bike_text{
    color: yellowgreen;
    text-shadow: 1px 1px lightgray;
}

.ship_text{
    color: blue;
    text-shadow: 1px 1px lightgray;
}

.baloon_text{
    color: orchid;
    text-shadow: 1px 1px lightgray;
}

.submarine_text{
    color: yellow;
    text-shadow: 1px 1px lightgray;
}

.tram_text{
    color: brown;
    text-shadow: 1px 1px lightgray;
}
footer{
    text-align: center;
    margin-top: 30px;
}